body{
    background-color: #FFFFFF;
}
.border-page{
    margin-top: -18px;
}
.login-account{
    position: absolute;
    display: flex;
    margin: -150px;
    margin-top: 190px;
    left: 50%;
}
.image-logo-login{
    position: absolute;
    width: 74.67px;
    height: 73.69px;
    margin: -38px;
    margin-top: 130px;
    left: 49.8%;
}
.title-login{
    position: absolute;
    width: 288px;
    height: 46px;
    margin-left: 95px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 119.69%;

    display: flex;
    align-items: center;

    color: #737373;
}
.login-account form {
	position: relative;
    margin-top: 120px;
    margin-left: -70px;
}
.login-account input {
    display: flex;
    background: #F8F8F8;
    mix-blend-mode: darken;
	appearance: none;
	outline: 0;	
	width: 400px;
		
	border-radius: 100px;
    border: transparent;
	padding: 10px 15px;
	margin: 0 auto 18px auto;

	text-align: center;
	font-weight: 300;
	font-size: 18px;
	color: black;	
}
.btn-login{
    margin-top: 40px;
    margin-left: 30px;
}