.login {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .login-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 0px 0%;
}

.login .image-logo-login {
  width: 74px;
  height: 74px;
}

.login .title-login {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #737373;
  margin-top: 12px;
}

.login .login-account form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 0px 50px;
}

.login .login-account input {
  display: flex;
  background: #ebebeb;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);

  border-radius: 100px;
  border: none;
  padding: 10px 15px;
  margin: 0 auto;

  text-align: center;
  font-size: 1.2rem;
  color: #181818;
}

.login .login-account input::placeholder {
  color: #9b9999df;
}

.login .loading {
  margin-bottom: 10px;
}

.login .login-account button {
  margin-bottom: 10px;
}

.login .error {
  color: #ff5959;
}

.login .border-page {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
}
