.go-back {
  background: none;
  border: none;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  color: #E11D86;
  cursor: pointer;
  transition: transform 200ms;
}

.go-back:hover {
  transform: scale(1.3);
}

.go-back:active {
  transform: scale(1);
}