.create-account {
  display: flex;
  padding: 100px 0px 0px 25%;
  flex-direction: column;
  align-items: center;
}
.border-page-image {
  position: fixed;
  margin: -10px;
}
.create-account .image-logo-create {
  width: 74px;
  height: 74px;
}
.create-account .title-create {
  display: flex;
  width: 288px;
  height: 46px;

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 119.69%;
  align-items: center;
  color: #737373;
}
.create-account form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px 0px 50px;
}
.create-account input {
  display: flex;
  background: #f8f8f8;
  width: 400px;

  border-radius: 100px;
  border: transparent;
  padding: 10px 15px;
  margin: 0 auto 18px auto;

  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: black;
}
.create-account .error {
  color: #ff5959;
}

@media only screen and (max-width: 1560px) {
  .create-account {
    margin: 150px;
  }
}
@media only screen and (max-width: 1360px) {
}
