.header {
  position: absolute;
  background: #181818;
  width: 100vw;
  height: 60px;
  bottom: 1;
  left: 0;
  margin-top: -8px;
}
.header h1 {
  position: absolute;
  font-style: normal;
  font-size: 2rem;
  
  padding: 10px 0px 10px 40%;
  flex-direction: row;
  margin-top: -50px;
  color: #f8f8f8;
}
.header .image {
  width: 54px;
  height: 54px;

  padding: 4px 0px 0px 25px;
}
.header .nameUser {
  color: #888;
}
.header .lineName {
  width: 200px;
  height: 3px;
  margin-top: -10px;

  background: #545454;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.header .menu {
  position: absolute;
  background: white;
  width: 200px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
  color: #888;

  right: 0;
  bottom: 1;
  visibility: hidden;
  transition: opacity 0.4s;
}
.header .menu ul,
li,
li a {
  display: block;
  margin: 10;
  padding: 0;
}
.header .menu li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all 0.2s;
}
.header .menu li a:hover,
.header .menu li a:focus {
  background: #1567e3;
  color: #fff;
}
.header .sair{
  background: transparent;
  border: transparent;
  text-align: center;
  font-size: 1rem;
  transition: all 0.2s;
  width: 200px;
  color: #888;
  cursor: pointer; 
}
.header .sair:hover,
.header .sair:focus {
  background: #1567e3;
  color: #fff;
}
.header .close {
  display: flex;
  background: transparent;
  border: transparent;
  border-radius: 0;
  color: #888; 
  cursor: pointer; 

  right: 0;
  bottom: 0;
  padding: 0px 10px 0px 10px;

}
.header .close:hover {
  background: #1567e3;
  color: #fff;
}
@media only screen and (max-width: 1560px){

}
@media only screen and (max-width: 1360px){

}