.loading-50 {
  width: 50px;
}
.loading-100 {
  width: 100px;
}
.loading-200 {
  width: 200px;
}
.loading-300 {
  width: 300px;
}
.loading-500 {
  width: 500px;
}

.distance-header {
  margin-top: 116px;
}