.account-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-main .border-page {
  position: fixed;
  width: 100vw;
  bottom: 0;
}

.account-main .account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-main .account .profile {
  width: 100px;
  height: 100px;
}

.account-main .account .title {
  color: #737373;
  margin: 10px 0 25px;
  font-size: 2rem;
}

.account-main .account form {
  display: flex;
  flex-direction: column;
}

.account-main .account form .edit-input {
  margin-bottom: 15px;
}

.account-main .account form .btn-submit {
  margin-top: 15px;
}