body{
    background-color: #E5E5E5;
}
.Title{
    width: 676px;
    height: 94px;
    font-size: 55px;
    font-family: 'Roboto';
    color: #000000;
    margin: 40px;
    margin-top: -3.5rem;
}
.Apresentation{
    width: 304px;
    height: 59px;
    font-size: 35px;
    font-family: 'Roboto';
    color: #000000;
    margin: 45px;
}
.Text{
    width: 563px;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(62, 63, 63);
    margin: 45px;
    margin-top: -45px;
}
.Try{
    width: 150px;
    height: 41px;
    font-size: 25px;
    font-family: 'Roboto';
    color: #000000;
    margin: 45px;
    margin-top: 35px;
}
.navbar{
    position: relative;
    width: 80em;
    margin-top: 3.5em;
}
.image-container{
    position: fixed;
    margin-left: 68%;
    margin-top: -0.1rem;
}
.image{
    width: 300pt;
    height: 400pt;
}