.Initial {
  display: flex;
  flex-direction: column;
}

.Initial section {
  width: 100vw;
  height: 100vh;
}

.Initial .presentation {
  display: flex;
  align-items: center;
}

.Initial .presentation .content {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.Initial .presentation .logo {
  height: 10vh;
  width: 10vh;
  margin-bottom: 35px;
}

.Initial .presentation h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #181818;
}

.Initial .presentation p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 25px 0;
}

.Initial .presentation img {
  height: 100vh;
}

.Initial .presentation button {
  margin-bottom: 10px;
}
